{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h1>
                    {{ movie.name }}
                </h1>
            </div>
            <table class="table table-light table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.type }}</td>
                    <td>{{ movie.launchAt|date('Y-m-d') }}</td>
                    <td>{{ movie.description }}</td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}