<tr>
    <td>{{ entity.id }}</td>
    <td>{{ entity.name }}</td>
    <td>{{ entity.type }}</td>
    <td>{{ entity.launch_at }}</td>
    <td>{{ entity.description }}</td>
    <td><a class="btn btn-outline-dark" href="/?page=film-detail&id={{ entity.id }}&name={{ entity.name }}">Détails</a></td>
</tr>
